#cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
#cards > div{
    width: 30%;
    box-shadow: 0 0 30px gray;
}
#cards img{
    width: 30%;
    object-fit: contain;
}

#info{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}